/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.sass-cache
/public/scss
/public/index.html
/.htaccess
/neooptima.id
/app/Console/Commands/DevPassword.php
/app/Console/Commands/ModuleTester.php
/cs
/linkneo.co
/shop
/shopwa
/staging
/tokoneo.id
/web
app/Console/Commands/DevPassword.php
app/Console/Commands/Local*.php
